* {
    -btn-blue-color: #1a2ad1;
    -btn-red-color: #d11a2a;
    -btn-green-color: #007e33;
}

.root{
    -fx-background: #ecf0f4;
}

#menu JFXButton {
    -fx-alignment: center-left;
    -fx-background-radius: 0;
    -fx-padding: 8 10 8 20;
    -jfx-disable-visual-focus: true;
    -fx-min-width: 200;
    -fx-font-size: 18;
}

#menu JFXButton:hover {
    -fx-background-color: #4974a0;
}

#menu JFXButton:activeView {
    -fx-background-color: #315f8e;
}

#menu JFXButton:activeView FontIcon {
    -fx-icon-color: #489EE7;
}

#body {
    -fx-background-color: #e9ebee;
}

.bg-dark {
    -fx-background-color: #5580aa;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 0 0 10 0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 95%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-column {
    -fx-min-width: 50;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-stroke: transparent;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER

}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #5580aa;
    -fx-size: 60;
    -fx-alignment: CENTER ;
    -fx-text-alignment: center;

}

.table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-color: #44709d;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-cell-size: 50px;
}

.table-view {
    /*-fx-table-cell-border-color: transparent;*/
    /*-fx-control-inner-background-alt: -fx-control-inner-background ;*/
}

.no-text {
    -fx-font-size: 0;
}

.menu-item .label {
    -fx-font-size: 16;
}

.menu-item .graphic-container {
    -fx-padding: 0em 1em 0em 0em;
}

.menu-item FontIcon {
    -fx-icon-size: 20px;
}

VBox.card {
    -fx-background-color: #fff;
    -fx-padding: 10;
    -fx-border-insets: 10;
    -fx-background-insets: 10;
}

.card-header {
    -fx-background-color: #f9f9f9;
    -fx-padding: 8;
}

.card-body {
    -fx-padding: 12;
}

.green-btn {
    -fx-background-color: -btn-green-color;
    -fx-border-color: -btn-green-color;
    -fx-border-radius: 4;
    -fx-text-fill: white;
}

.red-btn {
    -fx-background-color: -btn-red-color;
    -fx-border-color: -btn-red-color;
    -fx-border-radius: 4;
    -fx-text-fill: white;
}

.blue-btn {
    -fx-background-color: -btn-blue-color;
    -fx-border-color: -btn-blue-color;
    -fx-border-radius: 4;
    -fx-text-fill: white;
}

.green-btn FontIcon, .red-btn FontIcon, .blue-btn FontIcon {
    -fx-icon-color: white;
}

.green-btn-outline {
    -fx-border-color: -btn-green-color;
    -fx-border-radius: 4;
    -fx-text-fill: -btn-green-color;
}

.green-btn-outline FontIcon {
    -fx-icon-color: -btn-green-color;
}

.red-btn-outline {
    -fx-border-color: -btn-red-color;
    -fx-border-radius: 4;
    -fx-text-fill: -btn-red-color;
}

.red-btn-outline FontIcon {
    -fx-icon-color: -btn-red-color;
}

.blue-btn-outline {
    -fx-border-color: -btn-blue-color;
    -fx-border-radius: 4;
    -fx-text-fill: -btn-blue-color;
}

.blue-btn-outline FontIcon {
    -fx-icon-color: -btn-blue-color;
}

.btn-with-min-width {
    -fx-min-width: 100;
}


.reports-panel JFXButton {
    -fx-font-size: 14;
    -fx-graphic-text-gap: 8;
}

.reports-panel JFXButton FontIcon {
    -fx-icon-size: 22px;
}

.curved-edges {
    -fx-background-radius: 5;
}

.curved-edges-left {
    -fx-background-radius: 5 0 0 5;
}

.bold-text {
    -fx-font-weight: bold;
}

.errorHighlight {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}